.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color:lightseagreen;
}

.input {
  padding: 10px;
  width: 80%;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 16
}

.input:focus {
  outline: none;
}

.weather-data {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  font-size: 30px;
  font-weight: bold;
}

.temp {
  font-size: 90px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
}

.weather {
  font-size: 30px;
  font-weight: bold;
}